{% extends "base.html" %}
{% block content %}
<a href="{% url 'index' %}">Back to the main list</a>

<form name="ThisForm" action="item_delete" method="post">
    {% csrf_token %}

    <h3> {{ item.title|capfirst }} </h3>
    <p> {{ item.amount }} available </p>
    <h4>Description:</h4>
    <p> {{ item.description }} </p>
    <input type="submit" value="Supprimer">
</form>
{% endblock %}
