{% extends "base.html" %}
{% block content %}
<h1> Item Delete </h1>

<form name="ThisForm" action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Delete Item">
</form>
<script>document.ThisForm.title.select()</script>
<script>document.ThisForm.title.select()</script>
{% endblock %}
