{% load staticfiles %}

<!docttype html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Fruits App</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <meta name="description" content="">
    <link rel="stylesheet" href="{% static 'main.css' %} ">

</head>
<body>
{% block content %}
{% endblock %}
<script src="{% static 'main.js' %}"></script>

</body>
</html>
